@media(max-width:992px){
    .banner{
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../assets/image/mobie.jpg)no-repeat center;
        background-size: cover;
    }
    .compnay, .card , .getInTouch, footer{
        flex-flow: column;
        text-align: center;
    }
    .getInTouch>div{ margin: 0%;}
    .getInTouch>div>form{
        padding: 15px;
    }
}

/* tab */
@media(min-width:993px) and (max-width:1200px){
    .banner{background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(../assets/image/tablet.jpg) no-repeat center;
        background-size: 150%;
        height: 800px;
     }
}